# MATLAB autosave files
*.asv
*.autosave
*.slx.autosave
*.slx.original

# Simulink code generation and cache
slprj/
*.slxc
*.mldatx
*.l

# Simulink Project cache
.SimulinkProject/

# Stateflow projects
sfprj/

# Reports and logs
*.log
